# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime
df["date"] = pd.to_datetime(df["date"])

df.dtypes

station            object
date       datetime64[ns]
prcp              float64
tobs                int64
dtype: object

In [4]:
# Set the date column as the DataFrame index
df.set_index("date", inplace = True)

In [5]:
# Drop the date column
display(df)

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73
...                 ...   ...   ...
2017-08-19  USC00516128  0.09    71
2017-08-20  USC00516128   NaN    78
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

[19550 rows x 3 columns]

### Compare June and December data across all years

In [6]:
from scipy import stats

In [7]:
# Filter data for desired months
df_june = df[df.index.month == 6]
df_dec = df[df.index.month == 12]

In [8]:
# Identify the average temperature for June
df_june["tobs"].mean().round(2)

AttributeError: 'float' object has no attribute 'round'

In [ ]:
# Identify the average temperature for December
df_dec["tobs"].mean().round(2)

In [ ]:
# Create collections of temperature data

stations = list(df["station"].unique())
June_mean_temps = []
Dec_mean_temps = []

#Average the temp data and append to list for that month for each station

for i in range(len(stations)):
    stations_temporary_june = df_june.loc[df_june["station"] == stations[i]]
    stations_temporary_dec = df_dec.loc[df_dec["station"] == stations[i]]
    
    stations_june_mean = stations_temporary_june["tobs"].mean()
    stations_dec_mean = stations_temporary_dec["tobs"].mean()
    
    June_mean_temps.append(stations_june_mean)
    Dec_mean_temps.append(stations_dec_mean)
    
    print(June_mean_temps)
    print(Dec_mean_temps)

In [ ]:
# Run paired t-test

stats.ttest_rel(June_mean_temps, Dec_mean_temps)

### Analysis

the p-value is less than .05 which would mean we would reject the null hypothesis so the difference in temp is zero. We would then determine whether the temperatures are spatially autocorrelated. Meaning that the stations are near each other have more similar mean temperature than the stations farther apart. If the autocorrelation were significant autocorrelation a paired t-test might not be appropriate.